@charset 'UTF-8';

@media screen and (min-width:768px){* {
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  ul,
  ol {
    list-style: none;
  }
  html,body{height:100%; background:#f2f2f2;}

  /**/
  h1{
    text-align: center;
    font-family: 'Lobster', cursive;
    letter-spacing:3px;
    font-size:40px;
    margin-bottom:3%;
  }
  #wrap {
    width: 60%;
    min-width:1000px;
    margin: 100px auto 0;
    text-align:center;
  }
  #form_wrap{
    width:100%;
    overflow: hidden;
  }
  #input_form{
    padding:20px 0;
    background:rgba(0,0,0,0.8);
  }
  #input{
    width:80%;
    height:60px;
    border:none;
    font-size:20px;
    margin:20px 0;
    padding-left:20px;
    background:rgba(255,255,255,0.8)
  }
  button{
    margin:0 10px;
    width:20%;
    height:40px;
    overflow: hidden;
  }
  #text{
    text-align:center;
    font-weight: bold;
    font-size:30px;
    color:#fff;
    margin:20px 0 0;
  }
  #textForm{
    background:#d9d9d9;
    overflow: hidden;
    margin-top: 30px;
    width:100%;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  li {
    float: left;
    width: 80px;
    height: 80px;
    background: #d9d9d9;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    color:#fff;
    border-radius: 100%;
    font-size:18px;
  }}

/***************************μ¤λ§νΈν°********************************/
  @media screen and (max-width: 768px) {
    h1{
    text-align: center;
    font-family: 'Lobster', cursive;
    letter-spacing:3px;
    font-size:40px;
    margin-bottom:3%;
  }
  #wrap {
    width: 95%;
    margin: 50px auto 0;
    text-align:center;
  }
  #form_wrap{
    width:100%;
    overflow: hidden;
  }
  #input_form{
    padding:20px 0;
    background:rgba(0,0,0,0.8);
  }
  #input{
    width:80%;
    height:60px;
    border:none;
    font-size:20px;
    margin:20px 0;
    padding-left:20px;
    background:rgba(255,255,255,0.8);
    border-radius:10px;
  }
  button{
    height:40px;
    overflow: hidden;
  }
  #submit{width:20%}
  #sort{width:20%}
  #random{width:40%}  
  .btn{font-size:10px;}
  #text{
    text-align:center;
    font-weight: bold;
    font-size:30px;
    color:#fff;
    margin:20px 0 0;
  }
  #textForm{
    background:#d9d9d9;
    overflow: hidden;
    margin-top: 30px;
    width:100%;
    padding:50px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-flow:row wrap;
  }
  
  li {
    float: left;
    width: 80px;
    height: 80px;
    background: #d9d9d9;
    margin: 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    color:#fff;
    border-radius: 100%;
    font-size:18px;
  }
  }